<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>

</head>
<body>

<div class="row">
    <div class="large-12 large-offset-1 columns" id="header">
        <h1><a href="/">Bonnie Pan</a></h1>
        {
        <a href="/">writing</a>,
        <a href="/Reading">Reading</a>,
        <a href="/Cooking">Cooking</a>,
        <a href="/Running">Running</a>,
        <a href="/contact">contact</a>
        }
    </div>
</div>
<div class="row">
    <div class="large-10 large-centered columns">
        {{ content }}
    </div>
</div>
</body>
</html>
